// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.report td {
	padding: 5px;
	vertical-align: top;
}

table.report td.editable {
	padding: 0;
	vertical-align: top;
}

table.report th {
	text-align: center;
	vertical-align: middle ! important;
}

table.report p.project {
	width: 60px;
}

table.report p.task_id {
	width: 130px;
}

table.report p.task_desc {
	width: 400px;
}

table.report p.task_completion_per_ms_project {
	width: 80px;
}

table.report p.start_date {
	width: 80px;
}

table.report p.end_date {
	width: 80px;
}

table.report p.status {
	width: 80px;
}

table.report textarea.issues {
	padding: 6px;
	font-size: inherit ! important;
	border: 0;
	resize: none;
}

table.report textarea.risks_mitigation_plans {
	padding: 6px;
	font-size: inherit;
	border: 0;
	resize: none;
}
